.win-page {
    display: flex;
    flex-direction: column;
    padding: 1px;
    background-color: #d1d1d1;
    height: 100%;
    /*background: linear-gradient(*/
    /*    to bottom,*/
    /*    #e8f4ff 0%,*/
    /*    #cde6ff 100%*/
    /*);*/
    /*background: linear-gradient(to bottom, #f1c6bc, #ff7652);*/
}

.win-page .page-title {
    display: flex;
    flex: 0 0 40px;
    padding: 3px;
    align-items: center;
    /*justify-content: center;*/
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0, 0.7);
    /*color: #c5c5c5;*/
    /*background-color: #0f1419;*/
    /*background-color: #353535;*/
    /*padding-left: 10px;*/
    /*border-left: 8px solid #3574f0;*/
    border-bottom: 1px solid #8f949e;
    box-sizing: border-box;
    /*background: linear-gradient(to bottom, #eaf4ff, #d6e8ff);*/
    /*background: linear-gradient(to right, #2383e2, #4fa3f7);*/
    /*background: linear-gradient(to bottom, #fafafa, #eaeaea);*/
    /*background: linear-gradient(*/
    /*        to bottom,*/
    /*        rgba(255,255,255,0.4),*/
    /*        rgba(255,255,255,0.1)*/
    /*);*/
    /*backdrop-filter: blur(8px);*/
    /*background: linear-gradient(to right, #02091b, #e2f1ef);*/
}
.page-label {
    padding-left: 10px;
}
.page-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    background-color: #2b2d30;
    border-radius: 8px;
    /*background-color: #353535;*/
}

.page-search {
    display: flex;
    padding: 3px;
    font-size: 14px;
}

.page-search .search-filter {
    flex: 1;
    display: flex;
}

.page-search .search-box {
    flex: 0 0 30px;
}


.search-row {
    display: flex;
    flex-direction: column;
    padding: 3px;
}

.search-row .search-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-item-label {
    padding: 3px;
}
.search-item-value {

}

.search-btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid #080d25;*/
    border-radius: 8px;
    padding: 6px;
    box-sizing: border-box;
    color: #ffc233;
    background-color: #008080;
}

.search-btn svg {
    width: 100%;
    height: 100%;
}

.search-btn svg:hover {
    scale: 1.2;
}



select {
    border: 1px solid #c1cde0;
    min-height: 30px;
    padding: 3px;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    outline: none;
}

/*select li {*/
/*    border-color: #007bff;*/
/*    !*box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);*!*/
/*}*/

/*select option:checked {*/
/*    background-color: #007bff !important;*/
/*}*/

/*select option:hover {*/
/*    background-color: #007bff !important;*/
/*}*/

/*select:focus > option:checked {*/
/*    background-color: #007bff;*/
/*    color: white;*/
/*}*/

/*select option:checked {*/
/*    background-color: #95b0d8;*/
/*    !*color: #000;*!*/
/*}*/



select option:hover {
    background-color: #007bff;
    /*color: #000;*/
}

/*select option:focus {*/
/*    background-color: #c338b7;*/
/*}*/
