.win-page {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.win-page .page-title {
    display: flex;
    flex: 0 0 30px;
    align-items: center;
    /*justify-content: center;*/
    font-size: 16px;
    font-weight: bold;
    color: #373942;
    padding-left: 10px;
    border-left: 8px solid #3574f0;
    border-bottom: 1px solid #8f949e;
    box-sizing: border-box;
}