.just-layout {
    width: 100%;
    height: 100%;
    --title-bg-color: #1e1f22;
    --title-font-color: rgb(255, 255, 255, 0.7);
    --splitter-color: #7d7e81;
}


.just-node {
    width: 100%;
    height: 100%;
}

.just-win {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.just-win .just-win-title {
    flex: 0 0 40px;
    display: flex;
    box-sizing: border-box;
}



.just-win-title .just-title-list {
    flex: 1;
    overflow: hidden;
    /*cursor: move;*/
    display: flex;
}
.just-win-title .just-title-menu {
    flex: 0 0 25px;
}

.just-win .just-win-body {
    flex: 1;
}

.just-layout .just-column { display: flex; flex-direction: column; width: 100%; height: 100%; }
.just-layout .just-row { display: flex; flex-direction: row; width: 100%; height: 100%; }
.just-layout .just-first { display: flex; overflow: hidden;}
.just-layout .just-second { display: flex; flex: 1; overflow: hidden;}
.just-layout .just-splitter {
    flex: 0 0 3px;
    box-sizing: border-box;
    background-color: #b8b6b0;
}

.just-row > .just-splitter {
    cursor: ew-resize;
    border-left: 1px solid var(--splitter-color);
    border-right: 1px solid var(--splitter-color);
}
.just-column > .just-splitter {
    cursor: ns-resize;
    border-top: 1px solid var(--splitter-color);
    border-bottom: 1px solid var(--splitter-color);
}

.dragging {
    cursor: move;
    border: 1px dashed gray;
    box-sizing: border-box;
}
.just-win-title { display: flex; background-color: var(--title-bg-color);}
.just-draggable-title {
    display: flex;
    margin: 0;
    padding: 3px;
    height: 100%;
    align-items: center;
    white-space: nowrap;
    background-color: var(--title-bg-color);
    color: var(--title-font-color);
    font-size: 12px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
}
.just-draggable-title.just-active {
    border-bottom: 4px solid #3574f0;
    box-sizing: border-box;
}
.just-draggable-title .just-icon { display: flex; flex: 0 0 25px; align-items: center; justify-content: center}
.just-icon svg {
    width: 16px; height: 16px;
    color: rgb(255, 255, 255, 0.3);
}
.just-draggable-title .just-title {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}
.just-draggable-title>div {
    height: 100%;
}