/*.config-grid {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    min-height: 0;*/
/*}*/

/*.config-grid .config-title {*/
/*    flex: 0 0 40px;*/
/*}*/

/*.config-grid .config-table {*/
/*    flex: 1;*/
/*    min-height: 0;*/
/*    overflow: auto;*/
/*}*/


.just-grid {
    display: flex;
    flex: 1;
    min-height: 0;
    min-width: 0;
    overflow: auto;
}