.just-tool-bar {
    padding: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.82);;
    flex: 0 0 40px;
    row-gap: 5px;
    align-items: center;
    justify-content: center;

}

.just-tool-bar .just-tool-center {
    flex: 1;
}

.just-tool-bar .just-icon-system {
    flex: 0 0 40px;
    width: 50px;
    color: white;

}



.just-tool-bar .just-icon-system svg {
    width: 40px;
    height: 16px;
}


.just-tool-bar .just-app-icon {
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.just-tool-bar .just-app-icon.on {
    background-color: rgba(255, 255, 255, 0.22);
}

.just-tool-bar .just-app-icon svg { width: 100%; height: 100%; }


