.config {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 0;

    padding: 5px;
    box-sizing: border-box;
    /*min-width: 0;*/
}

/*.config .configs-keys {*/
/*    flex: 0 0 100px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
.config .config-key {
    flex: 0 0 25px;
    display: flex;
    padding: 3px;
}
.config .config-table {
    flex: 1;
    min-height: 0;
    overflow: auto;
    /*width: 100%;*/
    /*height: 100%;*/
    /*justify-content: flex-start;*/
}


.config svg { color: #f4a261 }

