.config {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}

/*.config .configs-keys {*/
/*    flex: 0 0 100px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
.config .config-key {
    display: flex;
    padding: 3px;
}
.config .config-table {
    flex: 1;
    overflow: auto;
    width: 100%;
    height: 100%;
    min-height: 0;
    min-width: 0;
}


.config svg { color: #f4a261 }

