.configs {
    display: flex;
    width: 100%;
    height: 100%;

}

.configs .configs-keys {
    flex: 0 0 100px;
    display: flex;
    flex-direction: column;
}
.configs .config-table {
    flex: 1;
    overflow: auto;
}

.configs-keys .config-key {
    display: flex;
    padding: 3px;
}

.configs-keys .config-key.selected {
    background: #83c5d5;
}

.configs svg { color: #f4a261 }