.side-menu {
    display: flex;
    flex-direction: column;

}

.side-menu .side-menu-title {
    flex: 0 0 40px;
    display: flex;
    align-items: center;
    background-color: #2e2e2e;
    color: white;
    /*justify-content: center;*/
    min-width: 0;
}

.side-menu-title .side-menu-name {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.side-menu-title .side-menu-icon {
    flex: 0 0 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 3px;
    margin-right: 3px;
    box-sizing: border-box;
}
.side-menu-title .side-menu-icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.side-menu .side-menu-items {
    padding: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.side-menu .side-menu-item {
    display: flex;
    white-space: nowrap;
    align-items: center;
    cursor: default;
    padding: 3px;
    /*justify-content: center;*/
}

.side-menu .side-menu-item:hover {
    background-color: #b9dfe8;
}


.side-menu-name {
    padding-left: 5px;
}